* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./assets/imagen/fondo-kwai.jpg");
}

.titulo,
.subtitulo {
  width: 100vw;
  padding: 20px;
  text-align: center;
}

.titulo {
  font-family: "Caveat Brush", cursive;
  font-size: 80px;
  color: rgb(54, 54, 54);
  background-image: url(./assets/imagen/nube.png);
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  padding: 50px;
}

.subtitulo {
  font-size: 45px;
  font-family: "Amaranth", sans-serif;
  color: #4a4444;
}

.contenedor_mascota--jugador {
  align-items: center;
  display: flex;
  height: 40vh;
  justify-content: center;
}

.tarjeta-de-mokepon {
  align-items: center;
  border-radius: 20px;
  box-shadow: 2px 4px 10px 1px rgb(0 0 0 / 20%);
  border: white solid 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 250px;
}
.imagen-1 {
  background-color: #ddf4ff;
}

.imagen-2 {
  background-color: #faf8df;
}
.imagen-3 {
  background-color: #feede3;
}

.titulo-tarjeta {
  font-family: "Amaranth", sans-serif;
  font-size: 25px;
  margin: 10px;
  padding: 15px;
}
input {
  display: none;
}

.contenedor__btn {
  text-align: center;
}
.boton_mascota--seleccionar {
  font-size: 25px;
  font-family: "Amaranth", sans-serif;
  color: #4a4444;
  font-weight: 600;
  border-radius: 15px;
  height: 65px;
  padding: 18px;
  width: 300px;
  background-color: #fbfeff;
  border: none;
  box-shadow: 2px 4px 10px 1px rgb(0 0 0 / 20%);
}

/*selccionar ataque*/
#seleccionar-ataque {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn__ataque {
  border-radius: 20px;
  box-shadow: 2px 4px 10px 1px rgb(0 0 0 / 20%);
  border: none;
  box-sizing: border-box;
  font-size: 25px;
  font-family: "Amaranth", sans-serif;
  color: #4a4444;
  width: 250px;
  height: 140px;
  padding: 20px;
  margin: 10px;
  background-color: #f1f5ff;
}

.items-ataque {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mensajes {
  font-family: "Amaranth", sans-serif;
  font-size: 30px;
  width: 30vw;
  height: 150px;
  background-color: #faecf2;
  border: 4px solid white;
  display: flex;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #4a4444;
}

#boton-reiniciar {
  border: none;
  color: #4a4444;
  font-size: 25px;
  font-family: "Amaranth", sans-serif;
  margin-top: 20px;
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  background-color: #f1f5ff;
  box-shadow: 2px 4px 10px 1px rgb(0 0 0 / 20%);
}
.ataques {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.contenedor-jugador {
  grid-column: 1 / 2;
}

.contenedor-enemigo {
  grid-column: 2/3;
}

.contenedor-jugador,
.contenedor-enemigo {
  width: 300px;
  font-family: "Amaranth", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f5ff;
  border-radius: 15px;
  padding: 20px;
  opacity: 0.9;
  margin: 20px;
  box-shadow: 2px 4px 10px 1px rgb(0 0 0 / 20%);
}

.contenedor-imagen__seleccionado {
  width: 250px;
  height: 250px;
  background-image: linear-gradient(
    -225deg,
    rgb(204 233 255) 0%,
    rgb(245 218 251) 100%
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.imagen__seleccionado {
  width: 150px;
}

.titulo-mascota__selecionado {
  font-size: 25px;
}
